$color1 : rgb(17, 17, 17);
$color2 : rgb(20, 20, 20);
$textColor : #d3d3d3;

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

header {
    background: $color1;
    width: 100%;
    border-radius: 1%;

    nav {
        float: right;

        ul {
            padding: 15px;
            list-style: none;

            li {
                display: inline-block;
                padding: 20px;

                a {
                    font-weight: bold;
                    text-decoration: none;
                    color: $textColor;

                    &:hover {

                        color: white;
                        transition: 0.5s;
                    }
                }
            }
        }
    }

    .header-logo img {
        width: 11%;
    }
}

body {
    background: $color2;
}

footer {
    background: $color1;
    width: 100%;

    p {
        color: $textColor;
        padding: 30px;

        strong {
            text-transform: uppercase;
        }
    }

}