.navbar {
  width: 100%;
  top: 0;
  z-index: 99;
  position: fixed;
  background: #18181d !important;
  height: 5em; }
  .navbar .navbar-nav {
    margin-left: 2vh; }

.play-button {
  background-color: #0066cc;
  border: none;
  color: white;
  padding: 8px 2px 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px; }
  .play-button:hover {
    transition: all 0.5s;
    filter: brightness(2); }

.play-button i {
  margin-right: 8px; }

.navbar-brand {
  margin-left: 1vh;
  letter-spacing: 0.3em !important; }
  .navbar-brand:hover {
    color: #fff !important; }

.card {
  color: #fff !important;
  background: #101113 !important;
  margin: 1em;
  border: none; }
  .card a img {
    border-radius: 5px;
    height: 18em !important; }

.card-img-top {
  filter: brightness(-0.5);
  transition: filter 0.3s ease; }

.card-img-top:hover {
  filter: brightness(1.2); }

section {
  padding-bottom: 5%; }

body {
  padding-top: 5em;
  color: #fff !important;
  background: #101113;
  letter-spacing: 0.1em !important;
  font-family: system-ui, -apple-system, Helvetica, arial, sans-serif !important; }

h1 {
  padding-top: 1em;
  margin: 2em;
  letter-spacing: 2px !important;
  color: #ffffffc5; }

.dropdown-item:hover {
  color: #fff !important;
  border-radius: 5px !important;
  background: #ffffff2c !important; }

.nav-item {
  padding: -5px !important;
  margin-left: 2vh;
  border-radius: 10px;
  transition: ease-in 0.1s; }
  .nav-item:hover {
    background: #ffffff2c;
    transition: ease-in 0.1s; }

.conteiner {
  background: #18181d;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%; }

.flex-game {
  display: flex !important;
  flex-wrap: wrap !important; }

.row {
  margin: 3em; }
  .row .jogar {
    background-color: #0066cc;
    color: white;
    font-size: 1.2em;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center; }
    .row .jogar:hover {
      transition: all 0.5s;
      filter: brightness(1.2); }
  .row img {
    margin-bottom: 1em;
    border-radius: 10px !important; }

.card-text {
  justify-content: space-between; }

a {
  color: #ffffffbe !important; }
  a:hover {
    transition: ease 0.5s;
    color: #006eff; }

.button {
  text-decoration: none;
  list-style: none;
  color: #fff;
  transition: 0.3s;
  margin-bottom: 3em; }
  .button:hover {
    transition: 0.3s;
    background: rgba(132, 0, 255, 0.034);
    border-radius: 5px;
    color: #006eff;
    box-shadow: rgba(0, 68, 255, 0.35) 0px -50px 36px -28px inset; }

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.397);
  margin: 10% 10%; }

form {
  display: flex;
  flex-direction: column;
  width: 60%;
  color: #fff; }
  form label {
    padding-bottom: 2%;
    padding-top: 5%;
    color: #fff; }
  form input,
  form textarea {
    padding: 1%;
    background-color: #18181d;
    border-radius: 10px;
    border: none;
    color: #fff; }
  form textarea {
    padding: 3% 5% 0%;
    margin-bottom: 3%; }
  form button {
    margin: 1%;
    padding: 2%;
    border-radius: 10px;
    border: solid 1px #101113;
    background: none;
    color: #fff;
    border: solid 1px #006eff; }

footer {
  bottom: 0;
  margin-top: 10em;
  background: #18181d;
  width: 100%; }
  footer p {
    text-align: center;
    color: #fff;
    padding: 3em; }
    footer p a {
      text-transform: uppercase;
      font-weight: bold;
      text-decoration: none;
      color: #fff; }
      footer p a:hover {
        color: #006eff;
        transition: 0.6s; }

/*# sourceMappingURL=style.css.map */
