$color1 : rgb(24, 24, 29);
$color2 : rgb(16, 17, 19);
$textColor : #fff;
$linkColor : rgb(0, 110, 255);

.navbar {
    width: 100%;
    top: 0;
    z-index: 99;
    position:fixed;
    background: $color1 !important;
    height: 5em;
    & &-nav {
        margin-left: 2vh;
    }
}
.play-button {
    background-color: #0066cc; 
    border: none; 
    color: white; 
    padding: 8px 2px 8px 8px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer; 
    border-radius: 20px; 
    &:hover{
        transition: all 0.5s;
        filter: brightness(2);
    }
}

.play-button i {
    margin-right: 8px;
}

.navbar-brand {
    margin-left: 1vh;
    letter-spacing: 0.3em !important;
    
    &:hover {
        color: $textColor !important;
    }
}
.card {

    color: $textColor !important;
    background: $color2 !important;
    margin: 1em;
    border: none;

    a img {
        border-radius: 5px;
        height: 18em !important;
    }
}

.card-img-top {
    filter: brightness(-0.5);
    transition: filter 0.3s ease;
}

.card-img-top:hover {
    filter: brightness(1.2);
}
section{
    padding-bottom: 5%;
}

body {
    padding-top: 5em;
    color: $textColor !important;
    background: $color2;
    letter-spacing: 0.1em !important;
    font-family: system-ui, -apple-system, Helvetica, arial, sans-serif !important;
}

h1 {
    padding-top: 1em;
    margin: 2em;
    letter-spacing: 2px !important;
    color: #ffffffc5;
}

.dropdown-item {
    &:hover {
        color: $textColor !important;
        border-radius: 5px !important;
        background: #ffffff2c !important;
    }
}

.nav-item {
    padding: -5px !important;
    margin-left: 2vh;
    border-radius: 10px;
    transition: ease-in 0.1s;

    &:hover {
        background: #ffffff2c;
        transition: ease-in 0.1s;
    }
}

.conteiner {

    background: $color1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

}


.flex-game {
    display: flex !important;
    flex-wrap: wrap !important;
}

.row {
    margin: 3em;
    .jogar {
        background-color: #0066cc;
        color: white;
        font-size: 1.2em;
        padding: 15px;
        border-radius: 10px;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover{
            transition: all 0.5s;
            filter: brightness(1.2);
        }

    }

    img {
        margin-bottom: 1em;
        border-radius: 10px !important;
    }
}
.card-text{
    justify-content: space-between;
}

a {
    color: #ffffffbe !important;

    &:hover {
        transition: ease 0.5s;
        color: $linkColor;
    }
}

.button {
    text-decoration: none;
    list-style: none;
    color: $textColor;
    transition: 0.3s;
    margin-bottom: 3em;

    &:hover {
        transition: 0.3s;
        background: rgba(132, 0, 255, 0.034);
        border-radius: 5px;
        color: $linkColor;
        box-shadow: rgba(0, 68, 255, 0.35) 0px -50px 36px -28px inset;
    }
}

.form {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 80%;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.397);
    margin: 10% 10%;
}

form {
    display: flex;
    flex-direction: column;
    width: 60%;
    color: $textColor;

    label {
        padding-bottom: 2%;
        padding-top: 5%;
        color: $textColor;

    }

    input,
    textarea {
        padding: 1%;
        background-color: $color1;
        border-radius: 10px;
        border: none;
        color: $textColor;
    }

    textarea {
        padding: 3% 5% 0%;
        margin-bottom: 3%;
    }

    button {
        margin: 1%;
        padding: 2%;
        border-radius: 10px;
        border: solid 1px $color2;
        background: none;
        color: $textColor;
        border: solid 1px $linkColor;
    }
}

footer {
    bottom: 0;
    margin-top: 10em;
    background: $color1;
    width: 100%;

    p {
        text-align: center;
        color: $textColor;
        padding: 3em;

        a {
            text-transform: uppercase;
            font-weight: bold;
            text-decoration: none;
            color: $textColor;

            &:hover {

                color: $linkColor;
                transition: 0.6s;

            }
        }
    }
}